/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body {
    background-color: #e3e4e0;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid black;
}

.nav {
  border-bottom: 1px solid black;
  padding-top: 15px;
}

.header-subtitle{
  padding-bottom:5px;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding-top: 17px;
}

.nav-links:hover {
  text-decoration: none!important;
}

.btn-cont {
    padding-top: 150px!important;
}

.login-bkg {
    background-color: #e3e4e0;
    
}

.form-padding {
    padding-top: 150px;
}

.container {
  padding-top:12px;
}


.radioContainer{
    /*display: flex;
    justify-content: left;
    align-items: center;*/
    width:100%;
  }
  
  .radioBlock {
    /*height: 200px;
    width: 200px;
    margin: 10px;*/
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .radioBlock:hover {
    opacity: 80%;
    cursor: pointer;
  }
  .selected {
    border: 2px solid black;
  }
  .happy {
    background-color: #dcb084;
  }
  .joyful {
    background-color: #a19f89;
  }
  .neutral {
    background-color: #c9dccf;
  }
  .angry {
    background-color: #903729;
  }
  .sad {
    background-color: #729598;
  }
  .depressed {
    background-color: #4f5c62;
  }

.desc-padding {
    padding-top: 20px;
  padding-bottom: 20px;

}

  textarea {
    background-color: #e3e4e0;
    width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 16px;
  resize: none;
  
  }