/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body {
    background-color: #e3e4e0;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid black;
}

.btn-cont {
    padding-top: 150px;
}

.login-bkg {
    background-color: #e3e4e0;
    
}

.form-padding {
    padding-top: 150px;
}


.radioContainer{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .radioBlock {
    height: 200px;
    width: 200px;
    margin: 10px;
  }
  
  .radioBlock:hover {
    opacity: 80%;
    cursor: pointer;
  }
  .selected {
    border: 2px solid black;
  }
  .happy {
    background-color: #dcb084;
  }
  .joyful {
    background-color: #a19f89;
  }
  .neutral {
    background-color: #c9dccf;
  }
  .angry {
    background-color: #903729;
  }
  .sad {
    background-color: #729598;
  }
  .depressed {
    background-color: #4f5c62;
  }